<div class="group relative flex items-center gap-4 p-4 border border-gray-300 rounded-xl bg-white
 hover:border-emerald-500 hover:shadow-md transition-all w-full
 cursor-pointer
 "
 (click)="open()"
>

  <div class="p-3 bg-emerald-50 text-emerald-600 rounded-lg group-hover:bg-emerald-100 transition-colors">
    <i class="pi pi-map-marker text-xl"></i>
  </div>

  <div class="flex-1">
    <p class="text-xs text-gray-500 font-medium uppercase tracking-wide">{{confirmed() ? ' Ubicación seleccionada':'Seleccionar ubicación:'}}</p>
    @if(textoLabel()){
      <p class="text-gray-800 font-semibold text-md text-wrap">{{textoLabel()}} </p>
    }

    <p class="text-sm text-gray-400"> {{confirmed() ? 'Toca para cambiar' : 'Toca para elegir una nueva ubicacion'}}</p>
  </div>

  <div class="text-gray-400 group-hover:text-emerald-500 transition-colors">
    <i class="pi pi-chevron-right"></i>
  </div>

</div>

<!-- <button
  type="button"
  (click)="open()"
  class="
    w-full mt-1
    flex items-center gap-3
    px-4 py-2
    border-3 border-emerald-400 rounded-lg
    text-emerald-600
    hover:bg-emerald-50
    transition
    cursor-pointer
    border-dotted
    focus:outline-none focus:ring-2 focus:ring-emerald-300
  "
  aria-label="Clic para ver la ubicación"
  [class.border-emerald-400]="!isInvalid()"
  [class.border-gray-400]="isInvalid()"
  [class.text-gray-800]="isInvalid()"
>
<div class="flex w-full gap-2 align-middle" style="justify-content: center;">
  <i class="pi pi-map" style="font-size: 1.6rem;" ></i>

  <div class="font-medium">
      {{textoLabel()}}
      @if(confirmed()){
            <div class="flex">
            <span class="font-light text-gray-600 ">(Toca aquí para buscar/cambiar la ubicación)</span>
            </div>
      }
  </div>
</div>
</button> -->



  <p-dialog
  appendTo="body"  [closable]="false"
    [visible]="dialogOpen()"
    (visibleChange)="dialogOpen.set($event)"
    header="Seleccionar ubicación"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"

  >
    <div class="map-wrapper">
      <div #mapContainer class="map"></div>

      <div class="info">
        @if (temp()) {
          <div>
            <b>Latitud:</b> {{ temp()!.latitud }} &nbsp;
            <b>Longitud:</b> {{ temp()!.longitud }}
          </div>
        }

        @if (loadingGeoref()) {
          <span class="muted">Buscando ubicación…</span>
        } @else if (georefText()) {
          <span>{{ georefText() }}</span>
        }@else {
          <span class="font-bold">{{textoLabel()}}</span>
        }

      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex justify-between w-full">
        <p-button [type]="'button'"   severity="secondary" label="Cancelar" (click)="cancel()"   />
        <button [type]="'button'" pButton label="Confirmar" (click)="confirmMap($event)" [disabled]="temp()==null"></button>
      </div>
    </ng-template>
  </p-dialog>

