


<p-button variant="outlined"  aria-label="Youtube" styleClass="w-full"  (click)="open()">
    <i class="pi pi-map-marker"></i>
    <p class="px-1">{{textoLabel()}}
      @if(temp()){       <span class="font-light text-gray-500 ">
      (Cambiar)
    </span>}
</p>
</p-button>

<p-dialog
[closable]="false"
  header="Seleccionar ubicación"
  [modal]="true"
  [style]="{ width: '800px' }"
  [visible]="dialogOpen()"
  (visibleChange)="dialogOpen.set($event)"
>
  <div class="map-wrapper">
    <div #mapContainer class="map"></div>

    <div class="info">
      @if (temp()) {
        <div>
          <b>Latitud:</b> {{ temp()!.lat }} &nbsp;
          <b>Longitud:</b> {{ temp()!.lng }}
        </div>
      }

      @if (loadingGeoref()) {
        <span class="muted">Buscando ubicación…</span>
      } @else if (georefText()) {
        <span>{{ georefText() }}</span>
      }@else {
        {{textoLabel()}}
      }
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-between w-full">
      <p-button  severity="secondary" label="Cancelar" (click)="cancel()" />

      <button pButton label="Confirmar" (click)="confirm()"></button>
    </div>
  </ng-template>
</p-dialog>
