  <form [formGroup]="formPassword" (ngSubmit)="onSubmit()" class="register-form mt-4 w-full max-w-xl py-6" autocomplete="off">


    @if (isError()) {
          <div
      class="flex items-start gap-3 rounded-md border-l-8 border-red-500 bg-red-500/20 px-3 py-2 w-full max-w-md"
    >
      <i class="pi pi-times-circle text-red-700 mt-0.5"></i>

      <p class="text-sm text-red-900 leading-relaxed">
        <strong>Error:</strong>
      {{mensajeError()}}
      </p>
    </div>
    }


      <h4 class="my-4 font-bold">Cambiar contraseña</h4>
      <div class="register-form__field mb-4">
        <label style="display: block;" class="text-sm">Ingresá tu contraseña <strong>actual</strong> @if(isInvalidTOBTN('passwordOld')){<span class="text-red-500">*</span>}</label>
        <p-password formControlName="passwordOld" [feedback]="false" toggleMask placeholder="Contraseña" autocomplete="new-passwordOld"   inputStyleClass="no-autofill"
>
          <ng-template #footer>
            <p-divider />
            <ul class="pl-2 my-0 leading-normal">
              <li>Como minimo debe tener 6 caracteres</li>
            </ul>
          </ng-template>
        </p-password>

      </div>

      <div class="register-form__field mb-4">
        <label style="display: block;">Ingresá una <strong>nueva</strong> contraseña @if(isInvalidTOBTN('passwordNueva')){<span class="text-red-500">*</span>}</label>
        <p-password  formControlName="passwordNueva" [feedback]="false" toggleMask placeholder="Contraseña" autocomplete="new-passwordNueva"   inputStyleClass="no-autofill"
>
          <ng-template #footer>
            <p-divider />
            <ul class="pl-2 my-0 leading-normal">
              <li>Como minimo debe tener 6 caracteres</li>
            </ul>
          </ng-template>
        </p-password>
            @if (isInvalid('passwordNueva')) {
                <p-message severity="error" size="small" variant="simple">La contraseña es obligatoria</p-message>
                <p-message severity="error" size="small" variant="simple">La contraseña debe tener al menos 6 caracteres</p-message>
            }
      </div>

      <div class="register-form__field mb-4">
        <label>Repetí tu <strong>nueva</strong> contraseña @if(isInvalidTOBTN('confirmPassword')){<span class="text-red-500">*</span>}</label>
        <p-password  formControlName="confirmPassword" [feedback]="false" toggleMask placeholder="Contraseña" autocomplete="new-password"   inputStyleClass="no-autofill">
        </p-password>
        @if (    formPassword.get('confirmPassword')?.hasError('mismatch') &&
              formPassword.get('confirmPassword')?.touched) {
                <p-message severity="error" size="small" variant="simple">Las contraseñas no coinciden</p-message>
        }
      </div>

      <div class="flex justify-between w-full mt-8">
        <button type="button" pButton  size="small" severity="secondary" (click)="onCloseEditarPerfilLocal()">
          <i class="pi pi-times" pButtonIcon></i>
          <span pButtonLabel>Cancelar</span>
        </button>

        <button type="submit" pButton size="small" [disabled]="formPassword.invalid" [loading]="isLoading()" >
          <i class="pi pi-check" pButtonIcon  ></i>
          <span pButtonLabel>Guardar</span>
        </button>
      </div>
    </form>
