<p-card class="flex flex-col">
  <h3 class="text-lg font-bold">🏆 Top 10 rescatistas</h3>
  <div class="flex flex-col flex-1">
    @if (ranking() === null) {
    <div class="flex gap-4 p-4 overflow-x-auto flex-nowrap">
      @for (i of skeletonItems; track i) {
      <div style="width:  192px; height: 132px;">
        <p-skeleton height="100%" width="192px"></p-skeleton>
      </div>

      }
    </div>
    } @if (ranking()?.length) {
    <div class="flex gap-4 p-4 overflow-x-auto flex-nowrap">
      @for (usuario of ranking()!; track usuario.id) {
      <div
        class="surface-100 rounded-2xl p-3 flex-shrink-0 border border-slate-200 w-[12em] flex flex-col gap-2 overflow-hidden"
      >
        <div class="flex justify-between items-end gap-4 pl-2">
          <span class="text-xl font-bold text-primary"> {{ usuario.puntos }} pts </span>

          <p-tag
            [value]="'#' + ($index + 1)"
            [severity]="getPuestoSeverity($index)"
            [rounded]="true"
            class="font-bold text-lg w-8 h-8 rounded-full ml-auto"
          ></p-tag>
        </div>
        <p-divider style="margin: 5px 0px" />

        <div class="flex align-items-center gap-3">
          <p-avatar
            [image]="avatarUrl()"
            [label]="usuario.nombre[0] + usuario.apellido[0]"
            class="bg-red-500 shrink-0"
            style="background-color: #ece9fc; color: #2a1261"
            shape="circle"
            size="large"
          ></p-avatar>
          <div class="overflow-hidden">
            <div class="font-semibold text-lg text-800 text-ellipsis">
              {{ usuario.nombre }} {{ usuario.apellido }}
            </div>
            <div class="text-sm text-500 text-ellipsis">
              {{ usuario.email }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    } @else if (ranking() && ranking()!.length === 0) {
    <div class="text-center p-5 surface-200 border-round">
      <i class="pi pi-trophy text-500 mb-3" style="font-size: 2rem"></i>
      <p class="text-700">Aún no hay suficiente actividad para generar un ranking.</p>
    </div>
    }
  </div>
</p-card>
