.simple-map {
  width: 100%;
}

.simple-map__container {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

/* Estilos del pin */
:host ::ng-deep .simple-green-pin {
  background: transparent;
  border: none;
}

:host ::ng-deep .simple-green-pin .pin {
  width: 28px;
  height: 28px;
 background-color: #1644b7ff;
  border: 2px solid #ffffff;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;

}

:host ::ng-deep .simple-green-pin .dot {
  width: 9px;
  height: 9px;
  background: #ffffff;
  border-radius: 999px;
  transform: rotate(45deg); /* endereza el punto */
}
