
@if(isSuccess()){
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

  @for (publicacion of publicacionesState().data; track $index) {
    <app-publicacion-card-item
      [publicacion]="publicacion"
    ></app-publicacion-card-item>
  }

</div>
}

@if (isLoading()) {
  <div class="w-20 h-20 border-6 border-gray-200 border-t-green-500 rounded-full animate-spin"></div>
  <span class="text-sm text-zinc-500">Obteniendo publicaciones del usuario...</span>
}
@if(isNotFound()){
          <div
          class="flex items-start gap-3 rounded-md border-l-8 border-sky-500 bg-sky-500/30 px-3 py-2 "
        >
          <i class="pi pi-info-circle text-sky-700 mt-0.5"></i>

          <p class="text-sm text-sky-900 leading-relaxed">
            Sin publicaciones
          </p>
        </div>
}
