<div class="mb-5">
  <app-usuarios-ranking />
</div>
<div class="flex items-center justify-between">
  <h1 class="text-2xl font-bold">Publicaciones</h1>
  <div class="flex justify-end gap-4 mb-4">
    <p-button
      severity="primary"
      icon="pi pi-plus"
      label="Crear Publicación"
      size="large"
      class="block"
      [routerLink]="[destinationUrl]"
    />
    @if (isAuthenticated){
    <p-button
      icon="pi pi-map-marker"
      severity="primary"
      label="Ver Mapa"
      size="large"
      class="block bg-primary-50"
      variant="outlined"
      [routerLink]="[this.destinationMapaUrl]"
    />
    }
  </div>
</div>
<p-card>
  <div class="p-4 space-y-6">
    <div class="flex align-items-start h-12 gap-2">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-search"></i>
        </p-inputgroup-addon>

        <input
          type="text"
          pInputText
          placeholder="Buscar publicaciones"
          [(ngModel)]="filtro().nombre"
          (keyup.enter)="aplicarFiltros(); filtrosPanel.hide()"
        />

        @if ((filtro().nombre ?? '').length > 0) {

        <p-inputgroup-addon>
          <p-button
            icon="pi pi-times"
            severity="secondary"
            variant="text"
            (click)="limpiarNombre(); aplicarFiltros(); filtrosPanel.hide()"
          />
        </p-inputgroup-addon>

        }

        <p-button (click)="aplicarFiltros(); filtrosPanel.hide()" label="Buscar" iconPos="right" />
      </p-inputgroup>
      <p-button
        label="Filtros"
        icon="pi pi-filter"
        (onClick)="filtrosPanel.toggle($event)"
        severity="secondary"
        styleClass="h-full"
      ></p-button>

      <p-popover #filtrosPanel styleClass="p-4 w-100">
        <h3 class="text-lg font-semibold mb-3">Filtros</h3>

        <div class="flex flex-col gap-4">
          <div>
            <label class="text-sm mb-1 block">Especie</label>
            <p-select
              [options]="especieOptions"
              [(ngModel)]="filtro().especie"
              [showClear]="true"
              placeholder="Todas las especies"
              styleClass="w-full"
            ></p-select>
          </div>

           <div>
            <label class="text-sm mb-1 block">Color</label>
            <p-select
              [options]="colorOptions"
              [(ngModel)]="filtro().color"
              [showClear]="true"
              placeholder="Todos los colores"
              styleClass="w-full"
            ></p-select>
          </div>

          <div>
            <label class="text-sm mb-1 block">Tamaño</label>
            <p-select
              [options]="tamanioOptions"
              [(ngModel)]="filtro().tamanio"
              [showClear]="true"
              placeholder="Todos los tamaños"
              styleClass="w-full"
            ></p-select>
          </div>

          <div>
            <label class="text-sm mb-1 block">Publicado Desde</label>
            <p-datepicker
              [(ngModel)]="filtro().fechaDesde"
              dateFormat="dd/mm/yy"
              placeholder="Desde"
              class="w-full"
              inputStyleClass="w-full"
            ></p-datepicker>
          </div>

          <div>
            <label class="text-sm mb-1 block">Publicado Hasta</label>
            <p-datepicker
              [(ngModel)]="filtro().fechaHasta"
              dateFormat="dd/mm/yy"
              placeholder="Hasta"
              class="w-full"
              inputStyleClass="w-full"
            ></p-datepicker>
          </div>

          <div class="flex justify-between">
            <p-button
              label="Limpiar"
              variant="text"
              icon="pi pi-eraser"
              (onClick)="resetFiltros(); filtrosPanel.hide()"
            ></p-button>
            <p-button
              label="Aplicar filtros"
              icon="pi pi-check"
              (onClick)="aplicarFiltros(); filtrosPanel.hide()"
            ></p-button>
          </div>
        </div>
      </p-popover>
    </div>

    @if (isLoading()) {
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
      @for (item of [].constructor(5); track $index) {
      <p-skeleton height="400px" class="w-full mb-4"></p-skeleton>
      }
    </div>
    } @if (error()) {
    <p-message severity="error" class="block mb-3">
      {{ error() }}
    </p-message>
    } @if (!isLoading() && !error()) { @if (publicaciones().length === 0) {
    <div class="text-center p-3">
      <i class="pi pi-info-circle text-5xl text-blue-500 mb-3"></i>
      <p>No se encontraron publicaciones que coincidan con los filtros.</p>
    </div>
    }

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
      @for (publicacion of publicaciones(); track publicacion.id) {
      <app-publicacion-card-item [publicacion]="publicacion" [searchText]="filtro().nombre" [readOnly]="false" />
      }
    </div>
    }
  </div>

  <div class="flex justify-center mt-6">
    <p-paginator
      [rows]="pageSize()"
      [totalRecords]="total()"
      [first]="(currentPage() - 1) * pageSize()"
      [rowsPerPageOptions]="[5, 10, 20, 30]"
      (onPageChange)="cambiarPagina($event)"
    />
  </div>
</p-card>
