<nav class="max-w-7xl px-4 sm:px-6 lg:px-8 py-2">
  <button
    class="flex items-center text-slate-500 hover:text-slate-800 transition-colors gap-2 font-medium"
    routerLink="/app/publicaciones"
  >
    <i class="pi pi-arrow-left" style="font-size: 0.8rem"></i>
    Atrás
  </button>
  <h1 class="text-sm text-slate-500 mt-1">Perfil de usuario</h1>
</nav>

  <!-- Tarjeta Héroe de Barrio -->

<div class="flex flex-col-reverse lg:flex-row gap-4">

  <!-- Columna izquierda -->
  <div class="lg:w-[60%] w-full  p-4 rounded">

  <article class="max-w-10xl mx-auto">


    <div class="bg-white rounded-3xl pt-2 px-6 shadow-sm border border-slate-100 flex items-center justify-between relative overflow-hidden mb-4">
      <div class="z-10">
        <h2 class="text-xl font-bold text-slate-900">Héroe de Barrio</h2>
        <p class="text-slate-500 mt-1 text-sm">has ayudado a muchos casos de tu zona</p>
      </div>
      <!-- Icono Corazón -->
      <div class="bg-pink-50/50 p-2 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-pink-600 fill-current" viewBox="0 0 24 24">
          <path
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
        </svg>
      </div>
    </div>

    <article class="bg-white rounded-3xl p-6 shadow-sm border border-slate-100     mb-4">
    <p-tabs lazy [value]="activeTab()" (valueChange)="onTabChange($event)" scrollable class="rounded-3xl ">
        <p-tablist>
          <p-tab value="0">Mis publicaciones</p-tab>
          <p-tab value="1">Mis avistamientos</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="0">
            @if (activeTab()==tapEnum.TAP_0) {
              <app-pulicaciones-user [idUsuarioToBy]="idUsuario()"></app-pulicaciones-user>
            }
          </p-tabpanel>
          <p-tabpanel value="1">
            @if (activeTab()==tapEnum.TAP_1) {
              <app-avistamientos-user [idUsuarioToBy]="idUsuario()"></app-avistamientos-user>
            }
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </article>


  </article>

  </div>

  <!-- Columna derecha -->
  <div class="lg:w-[50%] w-full  p-4 rounded xl:sticky xl:top-0 xl:h-screen">
    <article class="bg-white rounded-3xl pt-2 px-4 shadow-sm border border-slate-100 flex items-center justify-between relative overflow-hidden mb-4 w-full">
              @switch (opcionesDeTAP_0()) {
                @case (opcionesDeEdicionENUM.EDITAR_PERDIL) {
                <app-editar-perfil [idUsuario]="idUsuario()"
                  (onCloseEditarPerfil)="onCloseEditarPerfil()"></app-editar-perfil>
                }
                @case (opcionesDeEdicionENUM.EDITAR_PASSWORD) {
                <app-edit-password [idUsuario]="idUsuario()"
                  (onCloseEditarPerfil)="onCloseEditarPerfil()"></app-edit-password>
                }
                @default {
                <app-perfil-card (onEditarPerfil)="onEditarPerfil()" (onEditarPassword)="onEditarPassword()"
                  [idUsuario]="idUsuario()"></app-perfil-card>
                }
              }
    </article>
  </div>

</div>


