

  <!-- Tarjeta Héroe de Barrio -->
        <div class="flex flex-col-reverse lg:flex-row gap-4">

          <!-- Columna izquierda -->
          <div class="lg:w-[70%] w-full  p-4 rounded">

          <article class="max-w-10xl mx-auto">
            <app-medallas-section [medallas]="perfilStore.perfilDeUsuario()?.medallas || []" />

            <article class="bg-white rounded-3xl p-6 shadow-sm border border-slate-100 mb-4 mt-4">
              @if (canAgregarPublicaciones()) {
                  <p-button
                    severity="primary"
                    icon="pi pi-plus"
                    label="Crear Publicación"
                    size="large"
                    class="block"
                    [size]="'small'"
                    [routerLink]="[destinationUrl]"
                  />
              }

            <p-tabs lazy [value]="activeTab()" (valueChange)="onTabChange($event)" scrollable class="rounded-3xl ">
                <p-tablist>
                  <p-tab value="0">
                    <div class="flex flex-wrap">
                    @if (userIdNumber()== this.authStore.usuario()?.id) {
                      Mis publicaciones
                    }@else {
                      Publicaciones del usuario
                    }
                    </div>
                  </p-tab>
                  <p-tab value="1">
                    @if (userIdNumber()== this.authStore.usuario()?.id) {
                      Mis avistamientos
                    }@else {
                      Avistamientos del usuario
                    }
                  </p-tab>
                </p-tablist>
                <p-tabpanels>
                  <p-tabpanel value="0">
                    @if (activeTab()==tapEnum.TAP_0) {
                      <app-pulicaciones-user [idUsuarioToBy]="userIdNumber()"></app-pulicaciones-user>
                    }
                  </p-tabpanel>
                  <p-tabpanel value="1">
                    @if (activeTab()==tapEnum.TAP_1) {
                      <app-avistamientos-user [idUsuarioToBy]="userIdNumber()"></app-avistamientos-user>
                    }
                  </p-tabpanel>
                </p-tabpanels>
              </p-tabs>
            </article>


          </article>

          </div>

          <!-- Columna derecha -->
          <div class="lg:w-[30%] w-full  p-4 rounded xl:sticky xl:top-0 xl:h-screen">
            <article class="bg-white rounded-3xl pt-2 px-4 shadow-sm border border-slate-100  mb-4 w-full">
                @if (perfilStore.isSuccess()) {
                    <div class="flex gap-1 flex-wrap relative pl-2">
                      <!-- Ejemplo botones que abren el modal -->
                      <!-- <button pButton label="Editar perfil" icon="pi pi-pencil" size="small" (click)="openModal(opcionesDeEdicionENUM.EDITAR_PERDIL)"></button>
                      <button pButton label="Contraseña" icon="pi pi-key" size="small" (click)="openModal(opcionesDeEdicionENUM.EDITAR_PASSWORD)"></button>
                      <button pButton label="Baja voluntaria" icon="pi pi-trash" size="small" (click)="openModal(opcionesDeEdicionENUM.EDITAR_PASSWORD)"></button>
                      -->

                      @if (canViewActions()) {
                          <!-- <p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'"  styleClass="w-full md:w-60" />
                          <p-button class="text-sm" iconPos="right" variant="outlined"  (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" [label]="''"/>
                           -->
                      <button pButton [severity]="'secondary'" label="Perfil" icon="pi pi-pencil" size="small" (click)="openModal(opcionesDeEdicionENUM.EDITAR_PERDIL)"></button>
                      <button pButton [severity]="'secondary'" label="Contraseña" icon="pi pi-key" size="small" (click)="openModal(opcionesDeEdicionENUM.EDITAR_PASSWORD)"></button>


                    }
                    @if (this.perfilStore.perfilDeUsuario()?.estado == EstadoUsuarioEnum.HABILITADO  && soyYoQuienVeMiPerfil()) {
                      <button pButton [severity]="'secondary'" label="Baja"  icon="pi pi-trash" size="small" (click)="onConfirmationEliminarUsuario()"></button>

                    }


                    @if (!tengoElPerfilHabilitado()&& soyYoQuienVeMiPerfil()) {
                      <div class="mt-2 p-2 bg-red-50 border border-red-200 rounded-lg">
                        <p class="text-red-700 text-sm ">
                          Se deshabilitado tu perfil.
                          Al cerrar sesión no podrás volver a ingresar hasta que tu perfil sea habilitado nuevamente.
                        </p>
                      </div>
                    }

                    </div>

                    <app-perfil-card [usuario]="this.perfilStore.perfilDeUsuario()!" [idUsuario]="userIdNumber()"></app-perfil-card>

                   @if (authStore.isAdmin()) {
                      <div class="pb-4">
                        <p-tag [value]="perfilStore.getLabelEstadoUsuario()| uppercase" [severity]="perfilStore.getColorEstado()" />
                      </div>
                    }


                }

                @if (perfilStore.isLoading()) {
                  <div class="w-20 h-20 border-6 border-gray-200 border-t-green-500 rounded-full animate-spin"></div>
                  <span class="text-sm text-zinc-500">Cargando usuario...</span>

                }

                @if (perfilStore.isError()) {
                  <div
                    class="flex items-start gap-3 rounded-xl border border-red-200 bg-red-50 px-4 py-3 text-red-800 shadow-sm"
                    role="alert"
                  >
                    <!-- Icono -->
                    <i class="pi pi-exclamation-triangle text-red-500 text-lg mt-0.5"></i>

                    <!-- Texto -->
                    <div class="flex-1">
                      <p class="font-semibold text-sm">Error en el servidor</p>
                      <p class="text-sm text-red-700">
                        Ocurrió un problema al cargar el perfil. Intentá nuevamente más tarde.
                      </p>
                    </div>
                  </div>
                }

            </article>
          </div>

        </div>

<p-dialog [baseZIndex]="1000" [draggable]="false" [(visible)]="modalOpen" [modal]="true" [closable]="false"
  [style]="{ width: 'mx-auto', padding:'0px', top:'0' }">
  <ng-template #header>
    @if (selectedOption() ==opcionesDeEdicionENUM.EDITAR_PERDIL) {
    <h1 class="text-lg font-bold my-4">Editar perfil</h1>
    }@else {
    <h1 class="text-lg font-bold my-4">Cambiar contraseña</h1>
    }
  </ng-template>

  @switch (selectedOption()) {
  @case (opcionesDeEdicionENUM.EDITAR_PERDIL) {
  <div class="bg-white rounded-3xl  border-slate-100  max-w-3xl overflow-hidden ">

    <app-editar-perfil [idUsuario]="userIdNumber()" (onCloseEditarPerfil)="closeModal()"
      (onSuccessEdit)="onSuccessEdit()" />
  </div>

  }
  @case (opcionesDeEdicionENUM.EDITAR_PASSWORD) {
  <div class="bg-white  border-slate-100  max-w-3xl overflow-hidden ">

    <app-edit-password [idUsuario]="userIdNumber()" (onCloseEditarPerfil)="closeModal()"
      (onSuccessEdit)="onSuccessEdit()" />
  </div>

  }
  @default {
    <h1>Error</h1>
    }
  }
</p-dialog>

<p-confirmdialog key="positionDialog" />


