
@if (usuario()) {
  <div class="space-y-6 animate-fade-in py-6">

  <div class="flex flex-wrap gap-6 pt-2">

    <div class="w-auto ">
        <div class="h-32 w-32 rounded-full bg-slate-200 overflow-hidden border-2 border-white shadow-md">
                <img [src]="hasFoto() ? usuario().fotoLink!.url! : '/fotos/sin_imagen.png'" alt="Avatar" class="h-full w-full object-cover"/>
        </div>
    </div>

    <div class="w-auto ">
        <div class="space-y-1">
              <p> <span class="text-md  text-slate-400 tracking-wider">Nombre: </span><span class="text-slate-700 font-medium">{{usuario().nombre || '-'}}</span> </p>
              <p> <span class="text-md  text-slate-400 tracking-wider">Apellido: </span><span class="text-slate-700 font-medium">{{usuario().apellido || '-'}}</span> </p>
              <p> <span class="text-md  text-slate-400 tracking-wider">Email: </span><span class="text-slate-700 font-medium">{{usuario().email || '-'}}</span> </p>
              <p> <span class="text-md  text-slate-400 tracking-wider">Teléfono: </span><span class="text-slate-700 font-medium">{{usuario().telefono || '-'}}</span> </p>
              <p> <span class="text-md  text-slate-400 tracking-wider">Puntos: </span><span class="text-slate-700 font-medium">{{usuario().puntos || '-'}}</span> </p>

        </div>
    </div>



  </div>
    <div class="w-auto  ">
            <!-- Sección de Ubicación Agregada -->
        <div class=" border-slate-200 md:space-y-2 xl:space-y-1">
          <h4 class="text-md font-semibold text-slate-400 uppercase tracking-wider mb-2"> <i class="pi pi-map-marker"></i>  Ubicación</h4>
          <div class="flex flex-wrap  gap-8">
            <div class="flex flex-col">
              <span class="text-slate-400 text-md">Provincia</span>
              <span class="text-slate-700 font-medium">{{ usuario()!.ubicacion!.provincia}}</span>
            </div>
            <div class="flex flex-col">
              <span class="text-slate-400 text-md">Departamento</span>
              <span class="text-slate-700 font-medium">{{ usuario()!.ubicacion!.departamento}}</span>
            </div>
            <div class="flex flex-col">
              <span class="text-slate-400 text-md">Municipio</span>
              <span class="text-slate-700 font-medium">{{ usuario()!.ubicacion!.municipio || '-'}}</span>
            </div>
          </div>
        </div>
    </div>

  </div>
}

@if (usuario() ==null) {
  <div
    class="flex items-start gap-3 rounded-xl border border-red-200 bg-red-50 px-4 py-3 text-red-800 shadow-sm"
    role="alert"
  >
    <!-- Icono -->
    <i class="pi pi-exclamation-triangle text-red-500 text-lg mt-0.5"></i>

    <!-- Texto -->
    <div class="flex-1">
      <p class="font-semibold text-sm">Objeto vacio</p>
      <p class="text-sm text-red-700">
        Ocurrió un problema al cargar el perfil. Intentá nuevamente más tarde.
      </p>
    </div>
  </div>
}


