
  <p-card class="register-card">
    <div class="register-card__avatar">
      <!-- Podés poner una imagen real acá -->
      <div class="avatar-circle">
        <img src="/fotos/icono.png" alt="" />
      </div>
    </div>

    <h2 class="register-card__title">Iniciar sesión</h2>

    @if (isError()) {
      <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-10">{{errorMessage}}</p-message>
    }

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="register-form" autocomplete="off">


      <div class="register-form__field">
        <label>Email</label>
        <input pInputText formControlName="email" placeholder="Email" type="email" autocomplete="new-user"     inputStyleClass="no-autofill"/>
            @if (isInvalid('email')) {
                <p-message severity="error" size="small" variant="simple">Obligatorio</p-message>
            }
      </div>



      <div class="register-form__field">
        <label>Contraseña </label>
        <p-password  formControlName="password" [feedback]="false" toggleMask placeholder="Contraseña" autocomplete="new-password"  >
        </p-password>
           @if (isInvalid('password')) {
                <p-message severity="error" size="small" variant="simple">Obligatorio</p-message>
            }
      </div>

      <div class="register-form__field">

      <button pButton type="submit" label="Continuar" style="margin-top: 10px;"   [loading]="isLoading()"></button>

      </div>

      <p class="register-form__footer">
        ¿No tienes una cuenta?
        <a routerLink="/public/register">Registrarme</a>
      </p>
    </form>
  </p-card>
