<div class="flex flex-col gap-2 z-10">

  <p-select
    class="w-full"
    [options]="provinciasOptions()"
    [(ngModel)]="provinciaSelected"
    optionLabel="nombre"
    dataKey="id"
    [filter]="true"
    filterBy="nombre"
    [showClear]="true"
    placeholder="Seleccioná una provincia"
    [loading]="provinciasStore.isLoading()"
    (onChange)="onProvinciaChange($event.value)"
    (onClear)="clearProvincia()"
    size="small"
    appendTo="body"
  ></p-select>

  <p-select
    class="w-full"
    [options]="departamentosOptions()"
    [ngModel]="departamentoSelected()"
    (ngModelChange)="onDepartamentoChange($event)"
    optionLabel="nombre"
    dataKey="id"
    [filter]="true"
    filterBy="nombre"
    [showClear]="true"
    placeholder="Seleccioná un departamento"
    [loading]="isLoading()"
    [disabled]="isDepartamentoDisabled()"
    emptyMessage="Primero elegí una provincia"
    emptyFilterMessage="Sin resultados"
    size="small"
    appendTo="body"
  ></p-select>
</div>
